*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/APA_LAB/nbproject/private/
/Praticas 1,2,3/APA_LAB/build/
/Pratica 1,2,3/APA_LAB/build/
/Pratica 1,2,3/APA_LAB/nbproject/private/
/Pratica1,2,3/APA_LAB/build/
/Pratica1,2,3/APA_LAB/nbproject/private/
/Pratica5/Ordenacao/build/
/Pratica5/Ordenacao/nbproject/private/
/pratica4/nbproject/private/
/pratica4/build/
/Pratica6/AlgoritmosBusca/nbproject/private/